footer  {
    width: 80vw;
    margin: 30px 10vw;
    background-color: black;
    border: rgb(17, 0, 255) 3px solid;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

        .sred {
            
        }
}